apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m

    route:
      group_by: ['alertname', 'farm', 'severity']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 12h
      receiver: 'default'
      routes:
        - match:
            severity: critical
          receiver: 'critical-alerts'
        - match:
            severity: warning
          receiver: 'warning-alerts'

    receivers:
      - name: 'default'
        webhook_configs:
          - url: 'http://localhost:5001/webhook'

      - name: 'critical-alerts'
        webhook_configs:
          - url: 'http://localhost:5001/critical'

      - name: 'warning-alerts'
        webhook_configs:
          - url: 'http://localhost:5001/warning'
