apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: solar-simulator
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ThibautHI/tp_docker_avance_4.git
    targetRevision: HEAD
    path: k8s/apps/solar-simulator
  destination:
   server: https://kubernetes.default.svc
   namespace: solar-monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
